language: php
php:
  - 7.0

# We don't want to run linux commands as super user
sudo: false

# Tell Travis CI to monitor only 'master' branch
branches:
only: master

install: 
   composer install

script: phpunit --stderr tests