<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/Bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="AppTests">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-html" target="build/coverage"/>
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <php>
        <const name="APP_DIR" value=""/>
        <const name="SALT" value="RaNdOmTeSt"/>
        <const name="HTTP_HOST" value="dframeframework.com"/>
        <const name="MOD_REWRITE" value="true"/>
    </php>

</phpunit>